/.DS_Store
/Datasets
/.vscode
/.~la_liga_data_warehouse_analysis__1661.twbr
/la_liga_data_warehouse_analysis.twbx
/assets/gold_home_stats.csv
/assets/gold_team_performance.csv
/assets/gold_home_advantage.csv
/assets/gold_shot_generation.csv